<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" oncontextmenu="return false" onkeydown="return true;" onmousedown="return true;">
<head>
    <meta charset="utf-8"/>
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--below for disabled inspact this page-->
    <script language="JavaScript">

       window.onload = function () {
           document.addEventListener("contextmenu", function (e) {
               e.preventDefault();
           }, false);
           document.addEventListener("keydown", function (e) {
               //document.onkeydown = function(e) {
               // "I" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                   disabledEvent(e);
                   alert("চেষ্টা করিস না কোনো লাভ নাই");
               }
               // "J" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                   disabledEvent(e);
                   alert("চেষ্টা করিস না কোনো লাভ নাই");
               }
                // "N" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 78) {
                   disabledEvent(e);
                   alert("চেষ্টা করিস না কোনো লাভ নাই");
               }
               // "S" key + macOS
               if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                   disabledEvent(e);
                   alert("চেষ্টা করিস না কোনো লাভ নাই");
               }
               // "U" key
               if (e.ctrlKey && e.keyCode == 85) {
                   disabledEvent(e);
                   alert("চেষ্টা করিস না কোনো লাভ নাই");
               }
               // "F12" key
               if (event.keyCode == 123) {
                   disabledEvent(e);
                   alert("চেষ্টা করিস না কোনো লাভ নাই");
               }
               if(e.ctrlKey && e.keyCode==67){//copy
                   disabledEvent(e);
                   alert("কোনো কিছু Copy করতে পারবেন না");
               }
                if(e.ctrlKey && e.keyCode== 88){//cut
                   disabledEvent(e);
                   alert("কোনো কিছু Cut করতে পারবেন না");
               }
               if(e.ctrlKey && e.keyCode== 86){//paste
                   disabledEvent(e);
                   alert("কোনো কিছু Paste করতে পারবেন না,দয়া করে নিজে লিখেন");
               }
           }, false);
           function disabledEvent(e) {
               if (e.stopPropagation) {
                   e.stopPropagation();
               } else if (window.event) {
                   window.event.cancelBubble = true;
               }
               e.preventDefault();
               return false;
           }
       }
 </script>
</head>
<body style="background-color: rgba(255, 255, 182, 255); background-size: cover">
<div class="container" style="background-color: rgba(255, 255, 182, 255);
    height: 620px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;">
    <div align="center">
        <h1 style="color:blue;">Edit Product</h1>
        <br/>
        <form action="#" th:action="@{/update}" th:object="${product}"
              method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td>Product ID:</td>
                    <td>
                        <input type="text" th:field="*{id}" readonly="readonly"/>
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td>
                        <input type="text" th:field="*{name}" placeholder="Enter your product name"/>
                    </td>
                </tr>
                <!--the below row for error hundle-->
                <tr>
                    <td>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="alert alert-danger"></p>
                    </td>
                </tr>
                <tr>
                    <td>Brand:</td>
                    <td><input type="text" th:field="*{brand}" placeholder="Enter your brand name"/></td>
                </tr>
                <!--the below row for error hundle-->
                <tr>
                    <td>
                        <p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"
                           class="alert alert-danger"></p>
                    </td>
                </tr>
                <tr>
                    <td>Made In:</td>
                    <td><input type="text" th:field="*{madein}" placeholder="Enter your Made In"/></td>
                </tr>
                <!--the below row for error hundle-->
                <tr>
                    <td>
                        <p th:if="${#fields.hasErrors('madein')}" th:errors="*{madein}"
                           class="alert alert-danger"></p>
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" th:field="*{price}" placeholder="Enter your price"/></td>
                </tr>
                <!--the below row for error hundle-->
                <tr>
                    <td>
                        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                           class="alert alert-danger"></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary  col text-center">Update</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>