<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product Manager</h1>
<!--    below  addNewProduct indicate to a html file over the Controller     addNewProduct mainly a controllerMethod access key-->
    <a href="/addNewProduct">Create new Product</a>
    <br/><br/>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made In</td>
            <td th:text="${product.price}">price</td>
            <td>
                <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>