<!DOCTYPE html SYSTEM "http:/www.thymeleaf.org/dtd/xhtml">
<html xmlns:th="http://www.thymeleaf.org" oncontextmenu="return false" onkeydown="return false;"
      onmousedown="return false;">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <style>.headColor{color: blue}</style>
    <!--below for disabled inspact this page-->
    <script language="JavaScript">
       window.onload = function () {
           document.addEventListener("contextmenu", function (e) {
               e.preventDefault();
           }, false);
           document.addEventListener("keydown", function (e) {
               //document.onkeydown = function(e) {
               // "I" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
                   disabledEvent(e);
                   alert("?There is no benefit in trying");
               }
               // "J" key
               if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
                   disabledEvent(e);
                   alert("There is no benefit in trying");
               }
               // "S" key + macOS
               if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                   disabledEvent(e);
                   alert("There is no benefit in trying");
               }
               // "U" key
               if (e.ctrlKey && e.keyCode == 85) {
                   disabledEvent(e);
                   alert("There is no benefit in trying");
               }
               // "F12" key
               if (event.keyCode == 123) {
                   disabledEvent(e);
                   alert("There is no benefit in trying");
               }
               if(e.ctrlKey && e.keyCode==67){//copy
                   disabledEvent(e);
                   alert("Can't copy anything");
               }
                if(e.ctrlKey && e.keyCode== 88){//cut
                   disabledEvent(e);
                   alert("Can't Cut anything");
               }
               if(e.ctrlKey && e.keyCode== 86){//paste
                   disabledEvent(e);
                   alert("Can't Paste anything ,Please write yourself");
               }
           }, false);
           function disabledEvent(e) {
               if (e.stopPropagation) {
                   e.stopPropagation();
               } else if (window.event) {
                   window.event.cancelBubble = true;
               }
               e.preventDefault();
               return false;
           }
       }
//edit: removed ";" from last "}" because of javascript error
</script>

</head>
<body style="background-color: rgba(255, 255, 182, 255); background-size: cover" class="container">
<!--<div style="position:absolute;pos">-->
<!--<img src="/myPicGit.jpg" class="img">-->
<!--</div >-->

<!--<marquee direction="left"><b style="color: brown;font-size: 32px;margin-top: 17px;">The main aim of software engineering-->
<!--    is to develop high-end programming environments,tools and architectures.</b></marquee>-->
<br/>
<div style="background-color: rgba(255, 255, 182, 255);
     margin-top: 15px;
     height: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: auto;
     width: 100%;">
    <div align="center" class="table-responsive">
        <h1 style="color:blue;" class="headColor">Product Manager</h1>
        <!--    below  addNewProduct indicate to a html file over the Controller addNewProduct mainly a controllerMethod access key-->
        <a href="/addNewProduct" style="color:white">
            <button class="btn btn-primary">Create new Product</button>
        </a>
        <br/><br/>

        <table border="1" cellpadding="10" class="table table-striped table-hover table-sm">
            <thead>
            <tr class="table-danger" align="center">
                <th>Product ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <!--below "listProducts" is a source from "/addNewProduct" Product Controller-->
            <!--and here all value assign in product model class here-->
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}" align="center">Product ID</td>
                <td th:text="${product.name}" align="center">Name</td>
                <td th:text="${product.brand}" align="center">Brand</td>
                <td th:text="${product.madein}" align="center">Made In</td>
                <td th:text="${product.price}" align="center">price</td>
                <td align="center">
                    <a th:href="@{'/edit/' + ${product.id}}">
                        <button class="btn btn-primary">Edit</button>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${product.id}}">
                        <button class="btn btn-primary">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
<!--NOTE-->
<!--NBSP or "&nbsp"(non-breaking space) is used in programming, and word processing to create a space in a line that-->
<!--cannot be broken by word wrap. With HTML, &nbsp; allows you to create multiple spaces that are visible on a web page-->